.map {
    width: 82.9% !important;
    height: 89.8% !important;
    margin: 40px 0 0 -30px !important;
}


@media only screen and (max-width: 599px) {
    .map {
        width: 101% !important;
        height: 89.8% !important;
        margin: 24px 0 0 -30px !important;
    }
}
  